body {
    background-color: rgb(0, 0, 0);
    background-image: url(http://www.zingerbugimages.com/backgrounds/green_sandstone_scape.jpg);
    background-position: top left;
    background-repeat: repeat;
    background-attachment: fixed;
}

h1 {
    text-decoration: underline;
}

.container {
    text-align: center;
    font-family: 'Cinzel', serif;
    background-color: darkolivegreen;
    color: whitesmoke;
    padding: 10px 10px 10px 10px;
    border: 30px 15px 30px 15px;
    border-style: solid;
    margin-top: 25px;
}